/* styles.css */

/* Define the Noto Sans font */
@font-face {
    font-family: 'Noto Sans';
    src: url('../assets/fonts/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Reset default margin and padding for body and div elements */
body, div {
    margin: 0px;
    padding: 0px;
}

.hoverable:hover {
    cursor: pointer;
}

/* Main container styles */
#main {
    border-radius: 15px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

/* Header bar styles */
#header-bar {
    border-radius: 15px 15px 0 0;
    width: inherit;
    height: 20px;
    position: relative;
    -webkit-app-region: drag;
    display: block;
}

/* Window control button styles */
#window-controls img {
    width: 20px;
    height: 20px;
    z-index: 2;
    margin: 0 -4px -4px 0;
}

#window-controls {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 9px 0 0;
    -webkit-app-region: no-drag;
}

/* Sidebar styles */
#side-bar {
    width: 80px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    gap: 0;
}

.side-bar-element {
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid black;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.side-bar-element img {
    width: 30px;
}

.space {
    height: 20px;
}

/* Active sidebar element styles */
.active {
    box-sizing: border-box; /* Ensure box-sizing is applied here */
}

/* Main display container styles */
#main-display {
    display: flex;
    flex-direction: row; /* Lay out side-bar and content horizontally */
}

/* Main content area styles */
#main-content {
    flex-grow: 1;
    padding: 0 40px 0 30px;
    padding-right: 55px;
    font-family: 'Noto Sans'; /* Apply the custom font */
    font-weight: 500;
}

#title {
    font-size: 13px;
    font-weight: 500;
}